@charset "utf-8";

body {
    margin:0px;
    font:normal 13px "宋体", Arial, Helvetica, sans-serif;
    color:#333 !important;
    background-color:#fff;
}

a:visited { color:#000;text-decoration:none;}
a:link    { color:#000;text-decoration:none;}
a:active  { color:#000;text-decoration:none;}

center>table {
	width:970px;
	border:0px;
}

#title_banner {
	height:60px;
	background-image:url('../images/logo.234.60.gif');
	background-repeat:no-repeat;
	background-position:left center;
/*     background-color: #202020; */
    background-color: #FFF;
}

#footer {
    height:60px;
    background-image:url('../images/gradientbottom.jpg');
    text-align: center;
    font-size: 12px;
    
}

#menu td {
	height: 40px;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
    font-weight:bold;
    font-size:15px;
}
.current_menu_nav_item {
    background: #88C;
    color: #FFF;
    text-shadow:#000 1px 1px 0;
}

.menu_nav_item {
/*     background: #EAEBD8; */
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeF7litsRACAMwrD77+Q0rtGoV98r+MEFchhgkr4NnZyb3bk/LM/yMCjiH4wots/++hYR3iXLJVWUBS1AtOi2fwAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: bottom left;
    color: #2875DE;
    text-shadow:#FFF 1px 1px 0;
}
.menu_nav_item:hover, .menu_nav_item:hover  a{
    background: #88C;
    color: #FFF;
    text-shadow:#000 1px 1px 0;
}
#menu_solution {
	width: 290px;
}

.menu_solu, .menu_solu_item, .menu_solu_item_current {
	height: 50px;
	font-weight: bold;
	border-right: 1px solid #000;
	line-height:50px;
	color: #036;
}

.menu_solu {
	font-size: 18px;
	text-indent: 2px;
	
}

.menu_solu_item, .menu_solu_item_current {
	font-size: 15px;
	text-indent: 1em;
}
.menu_solu_item:hover, .menu_solu:hover {
	background-color: #777;
	color: #FFF;
    text-shadow:#000 1px 1px 0;
}
.menu_solu_item:hover {
	font-size: 16px;
}
.menu_solu_item_current {
	background-color: #779;
	color: #FFF;
    text-shadow:#000 1px 1px 0;
}







