@charset "utf-8";

body {
    margin:0px;
    font-family: 'Microsoft YaHei', '宋体', Verdana, 'BitStream vera Sans', Tahoma, Helvetica, sans-serif;
    font-size: 12px ;
    color:#036 !important;
    background-color:#EEE;
}

a:visited { color:#036;text-decoration:none;}
a:link    { color:#036;text-decoration:none;}
a:active  { color:#036;text-decoration:none;}
a:hover   { color:#036;text-decoration:underline;}

center>table {
	width:970px;
	border:0px;
    background-color:#FFF;
}

p {
	text-indent: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.solution_content p {
	text-indent: 0px;
}
.solution_content table {
    border: 1px solid #036;
    border-right: 0px solid #036;
    border-bottom: 0px solid #036;
}
.solution_content td {
    border-bottom: 1px solid #036;
    border-right: 1px solid #036;
}
.solution_content thead {
	background-color:#EEE;
	font-weight:bold;
}

.center_align_left{
    text-align:right;
    font-weight:bold;
    padding-right:5px;
}
.center_align_right{
    text-align:left;
    padding-left:5px;
    min-width:50px;
}

#title_banner {
	height:60px;
	background-image:url('/images/logo.234.60.gif');
	background-repeat:no-repeat;
	background-position:left center;
/*     background-color: #202020; */
    background-color: #FFF;
}

#table_body {
	padding: 1em;
	padding-bottom:0px;
}

.page_footer{
	height: 30px;
	text-align:center;
	color:#FFF;
	background-color: #036;
	font-size:15px;
	font-weight:bold;
	border-bottom: 1px dotted #333;
}

#footer {
    height:60px;
    background-image:url('/images/gradientbottom.jpg');
    text-align: center;
    font-size: 12px;
}

#footer_links {
	padding-top: 0.5em;
    border-top: 1px dotted #DDD;
	border-bottom: 1px dotted #333;
}

#footer_links td{
    text-align: center;
    padding-bottom: 0.5em;
}
#footer_links img {
    height:40px;
    padding:2px;
    border:1px solid #037;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#out_dir_links {
	text-align:center;
}

/***   Menu Section  ***/

.left_menu {
    width: 250px;
    border-right: 1px dotted #000;
}

#menu td {
    margin: 0;
/*     padding: 5px 10px; */
    white-space: nowrap;
    text-align: center;
    font-weight:bold;
    font-size:12px;
    color: #2875DE;
    text-shadow:#FFF 1px 1px 0;
}
.current_menu_nav_item {
    background: #88C;
    color: #FFF;
    text-shadow:#000 1px 1px 0;
}

.menu_nav_item {
/*     background: #EAEBD8; */
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeF7litsRACAMwrD77+Q0rtGoV98r+MEFchhgkr4NnZyb3bk/LM/yMCjiH4wots/++hYR3iXLJVWUBS1AtOi2fwAAAABJRU5ErkJggg==);
/*     background-image:url('/images/tab-break.png'); */
    background-repeat: repeat-x;
    background-position: bottom left;
}
.menu_nav_item>a>div {
    height: 30px;
    line-height: 30px;
}
/* , .menu_nav_item:hover  a */
.menu_nav_item div:hover{
    background: #EEE;
/*     color: #FFF; */
/*     text-shadow:#000 1px 1px 0; */
}

.menu_link, .menu_nolink, .menu_item, .menu_item_current {
	height: 30px;
    line-height:30px;
	color: #036;
/*     text-shadow:#EEE 1px 1px 0; */
}

.menu_link, .menu_nolink {
	font-size: 15px;
    font-weight: bold;
    margin-top:0.5em;
    border-top: 1px solid darkGray;
}

.menu_item, .menu_item_current {
	font-size: 12px;
    text-indent: 2em;
    background: url(/images/contact_icon.jpg) no-repeat 10px 11px;
    border-top: 1px dotted darkGray;
}
.menu_item:hover, .menu_link:hover, .menu_item_current:hover {
	background-color: #EEE;
    text-shadow:#FFF 1px 1px 0;
}
.menu_item_current {
	color: #D33;
}

.salse_section {
    color: #036;
    padding-left:1em;
    border-top: 1px dotted darkGray;
    width:100%;
}


/*** Content Section ***/

#table_contact {
	font-size: 15px;
	margin-top: 5em;
    margin-left: 5em;
	height: 150px;
/* 	border: 1px solid #000; */
}

.section_title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-left:1em;
    vertical-align: top;
}

.section_content {
    font-size: 13px;
    padding-left: 1em;
    padding-right: 4em;
    vertical-align: top;
    border-bottom: 1px dotted #000;
}

#download_content_table {
	width:650px;
	border-collapse:collapse;
	margin-left:2em;
	margin-bottom: 2em;
}

#download_content_table th {
    height: 25px;
    font-weight:bold;
    border-bottom: 2px solid #036;
}
#download_content_table td {
	font-family: '宋体', 'Microsoft YaHei', Verdana;
    border-bottom: 1px dotted #036;
	text-align:center;
    height: 25px;
}
#download_content_table td:nth-child(1) {
	text-align:left;
	padding-left:1em;
}
#download_content_table td:nth-child(2) {
    text-align:right;
}
#download_content_table td a:link{
	text-decoration:underline;
}
#download_content_table tbody tr:hover{
	background-color: #CEF;
}

